@model List<KeyLoggerWEB.Entitys.Log>
<section>
    <form asp-action="Logout" method="post">
        <input type="submit" value="Logout"/>
    </form>

    @foreach (var log in Model)
    {
        <div class="log">
            <h1>@log.Origin</h1>
            <p>
                @log.DateTime - @log.RegisterLogs.Count() registros
            </p>
            <div class="card-log">
                @foreach (var item in log.RegisterLogs)
                {
                    <div class="register-log">
                        <span>@item.DateTime</span>
                        <p>
                            @item.Register
                        </p>
                    </div>
                }
            </div>
        </div>
    }
</section>

@section styles{
    <link rel="Stylesheet" href="@Href("~/css/index.css")" />
}
